<section id="one" class="tiles">
	{% if site.tiles-source == 'posts' %}
	{% assign pinned_posts = site.posts | where: "pinned", true %}
	{% if pinned_posts.size > 0 %}
		{% assign tile_count = 0 %}
		{% for post in site.posts %}
			{% unless post.pinned %}
				{% if tile_count < site.tiles-count %}
				<article>
					<header class="major">
						<p>{{ post.category | join:' | ' }}</p>
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
					</header>
					<a href="{{ post.url | relative_url }}" class="link">
					<span class="image">
						<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy" />
					</span>
					</a>
				</article>
				{% assign tile_count = tile_count | plus: 1 %}
				{% endif %}
			{% endunless %}
		{% endfor %}
	{% else %}
		{% for post in site.posts limit:site.tiles-count %}
		<article>
				<header class="major">
						<p>{{ post.category | join:' | ' }}</p>
						<h3>{{ post.title }}</h3>
						<p>{{ post.description }}</p>
				</header>
				<a href="{{ post.url | relative_url }}" class="link">
				<span class="image">
						<img src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy" />
				</span>
				</a>
		</article>
		{% endfor %}
	{% endif %}
	{% endif %}
	{% for page in site.pages limit:site.tiles-count%}
	{% if site.tiles-source == 'pages' %}
        <article>
                <header class="major">
                        <h3>{{ page.title }}</h3>
                        <p>{{ page.description }}</p>
                </header>
                 <a href="{{ page.url | relative_url  }}" class="link">
                 <span class="image">
                        <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
                </span>
                </a>
        </article>
	{% endif %}
	{% endfor %}
</section>
