<!DOCTYPE html>

<html>
{% include head.html %}

<body>
    {% include header.html %} 
    
    
<!-- Parallax banner -->
<section id="parallax-banner">
			<header class="major">
				<h1>{{ page.title }}</h1>
				<p>{{ page.description }}</p>
			</header>
			<ul id="scene1" class="scene">
				<li data-depth="0" class="layer"><object data="{{ "assets/images/about/about-banner-01.svg" | relative_url }}"></object></li>
				<li data-depth="0.15" class="layer"><object data="{{ "assets/images/about/about-banner-02.svg" | relative_url }}"></object></li>
				<li data-depth="0.35" class="layer"><object data="{{ "assets/images/about/about-banner-03.svg" | relative_url }}"></object></li>
				<li data-depth="0.6" class="layer"><object data="{{ "assets/images/about/about-banner-04.svg" | relative_url }}"></object></li>
			</ul>
</section>

<div id="main">
<!-- One -->
<section id="one">
	<div class="inner">
		<!--{% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}-->
		<p>{{ content }}</p>
	</div>
</section>

</div>

    {% include footer.html %}

	<script src="{{ "assets/js/parallax.min.js" | absolute_url }}"></script>
	<script>
		var scene = document.getElementById('scene1');
		var parallax = new Parallax(scene1);
	</script>

</body>

</html>