<!DOCTYPE html>

<html>

{% include head.html %}

<body>

    {% include header.html %}

<!-- Parallax banner -->
<section id="parallax-banner">
			<header class="major">
				<h1>{{ page.title }}</h1>
				<p>{{ page.description }}</p>
			</header>
			<ul id="scene1" class="scene">
				<li data-depth="0" class="layer"><object data="{{ "/assets/images/contact/contact-banner-01.svg" | relative_url }}"></object></li>
				<li data-depth="0.1" class="layer"><object data="{{ "/assets/images/contact/contact-banner-02.svg" | relative_url }}"></object></li>
				<li data-depth="0.2" class="layer"><object data="{{ "/assets/images/contact/contact-banner-03.svg" | relative_url }}"></object></li>
				<li data-depth="0.9" class="layer"><object data="{{ "/assets/images/contact/contact-banner-04.svg" | relative_url }}"></object></li>
			</ul>
</section>

    <!-- Main -->
    <div id="main">

<section id="contact">
	<div class="inner">
		<section>
			<form action="https://formspree.io/f/{{ site.email }}" method="POST">
				<div class="field half first">
					<label for="name">Full Name (required)</label>
					<input type="text" name="name" id="name" />
				</div>
				<div class="field half">
					<label for="email">Email (required)</label>
					<input type="text" name="_replyto" id="email" />
				</div>
				<div class="field">
					<label for="message">Message</label>
					<textarea name="message" id="message" rows="6"></textarea>
				</div>
				<ul class="actions">
					<li><input type="submit" value="Send Message" class="special" /></li>
					<li><input type="reset" value="Clear" /></li>
				</ul>
			</form>
		</section>
		<!--<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa-envelope"></span>
					<h3>Email</h3>
					<a href="#">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>{{ site.phone }}</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
					{% if site.street_address %}
					    {{ site.street_address }}<br />
					{% endif %}
					{% if site.city %}
					    {{ site.city }},
					{% endif %}
					{% if site.state %}
					    {{ site.state }}
					{% endif %}
					{% if site.zip_code %}
					    {{ site.zip_code }}<br />
					{% endif %}
					{% if site.country %}
					    {{ site.country }}
					{% endif %}
					</span>
				</div>
			</section>
		</section>-->
	</div>
</section>


    </div>

    {% include footer.html %}

	<script src="{{ "assets/js/parallax.min.js" | relative_url }}"></script>
	<script>
		var scene = document.getElementById('scene1');
		var parallax = new Parallax(scene1);
	</script>

</body>

</html>
